server:
  port: 8084
spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5432/authdb
    username: postgres
    password: somu

  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true

  jwt:
    secret: my-super-secret-key
    expiration: 3600000 # 1 hour