server:
  port: 8084

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://auth-db:5432/authdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true

  jwt:
    secret: my-super-secret-key
    expiration: 3600000 # 1 hour

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka-server:8761/eureka
  instance:
    prefer-ip-address: true
